h1{
	color:green;
	text-align: center;
}

p{
	background: grey;
	text-align: center;
	border-style: dashed
}

#para1{
color:blue;
text-color: red;
border-style: doted;
}

img{
display: block;
margin: auto
}
