body{
	background-image: linear-gradient(to bottom right, #32a852, #35d3db);
}

h1{
	color:green;
	text-align: center;
}

p{
	background: grey;
	text-align: center;
	border-style: dashed;
	font-size: 40px;
	border-radius: 20px;
}

#para1{
	color:blue;
	text-color: red;
	border-style: dotted;
}

img{
	display: block;
	margin: auto
}


li{
	font-size: 20px;
}
